<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RAMP by TriFin Labs, Inc.</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    {{{body}}}
    <script src="/javascripts/bundle.js"></script>

</body>
</html>
